@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500');
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #FFF;
}

.contenedor-form {
    position: absolute;
    top: 100px;
    left: 50%;
    background: linear-gradient(#BF99FF, rgba(191, 153, 255, .5), rgba(191, 153, 255, .7));
    transform: translate(-50%, 0);
    max-width: 400px;
    width: 100%;
    padding: 25px 40px;
}

.contenedor-form .formulario .logo {
    display: block;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 10px;
}

.contenedor-form .toggle {
    position: absolute;
    padding: 5px 10px;
    right: 40px;
    font-size: 15px;
    background: #A2F7FF;
    cursor: pointer;
    color: #000;
    font-weight: 300;
    transition: all .5s ease;
    z-index: 1;
}

.contenedor-form .toggle:hover {
    background: #96FFB5;
    color: #000;
}

.contenedor-form .toggle span {
    letter-spacing: 0px;
}

.contenedor-form h2 {
    padding: 15px 0px;
    color: #000;
    font-size: 25px;
    font-weight: 300;
    line-height: 1;
    margin-bottom: 15px;
}

.contenedor-form h3 {
    padding: 0px 0px;
    color: #000;
    text-align: center;
    padding: 20px;
    width: 100%;
    font-size: 25px;
    font-weight: 300;
    line-height: 1;
    margin-bottom: 15px;
}

.contenedor-form input[type="text"], .contenedor-form input[type="password"], .contenedor-form input[type="email"] {
    display: flex;
    flex-direction: column;
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1.5px solid #BF99FF;
    color: #000;
    margin-bottom: 15px;
    padding: 5px;
    font-size: 14px;
    font-weight: normal;
    transition: all .5s ease;
    letter-spacing: 1px;
}

.contenedor-form input[type="submit"] {
    background: #A2F7FF;
    color: #666;
    width: 100%;
    border: none;
    padding: 10px 0;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .5s ease;
}

.contenedor-form input[type="submit"]:hover {
    background: #96FFB5;
}

.contenedor-form .reset-password {
    background: #FFB7B2;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.contenedor-form .reset-password a {
    color: #000;
    text-decoration: none;
    font-size: 16px;
}

.contenedor-form .formulario {
    display: none;
    padding: 20px;
    background: #FFF;
}

.contenedor-form .formulario:nth-child(2) {
    display: block;
}